body {
  display: grid;
  place-content: center;
  margin: 1rem;
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  font-family: var(--ff-fraun);
  color: var(--clr-neutral-400);
  background: var(--clr-primary-200);
  user-select: none;
  overflow: hidden;
}

.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  display: grid;
  border-radius: 0.625rem;
  overflow: hidden;
  background: var(--clr-neutral-100);
  max-width: 37.5rem;
}

.product__content {
  padding: var(--content-padding);
  gap: var(--content-spacing);
  display: grid;
}

.product__type {
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  font-family: var(--ff-montser);
}

.product__name {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-bold);
  font-size: 2rem;
}

.product__description {
  font-family: var(--ff-montser);
  font-size: 1.0625rem;
}

.product .flex-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.product .flex-group .product__current-price {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}

#cart-button {
  border: none;
  display: inline-flex;
  cursor: pointer;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-100);
  font-family: var(--ff-montser);
  font-weight: var(--fw-bold);
  padding: 0.9375rem 1.5625rem;
  border-radius: 0.625rem;
  background: var(--clr-primary-400);
  transition: background ease-in-out 500ms;
}
#cart-button[data-icon="shopping-cart"]::before {
  content: "";
  width: 0.9375rem;
  height: 1rem;
  background-image: url(../images/icon-cart.svg);
}
#cart-button:is(:hover, :focus) {
  background: var(--clr-primary-500);
}
